<div ng-controller="createProjectCtrl" layout="column">
  <md-whiteframe class="md-whiteframe-z1">
  <br/>
  <md-content layout-padding class="autoScroll">
    <md-input-container d-no-float>
      <!-- Use floating label instead of placeholder -->
      <label>Project name</label>
      <input ng-model="$scope.name" type="text" >
    </md-input-container>
    <md-input-container d-no-float>
      <!-- Use floating label instead of placeholder -->
      <label>Project description</label>
      <input ng-model="$scope.name" type="text" >
    </md-input-container>
    <md-button class="md-raised md-primary">Create Project</md-button>
  </md-content>
  </md-whiteframe>
</div>