<div ng-controller="porjectCtrl" flex = "100">
	<md-card flex = "100">
		<md-toolbar>
		    <div class="md-toolbar-tools">
		      <h2>{{project.name}}</h2>
		      <span flex></span>
		      <p>{{currentNode.title}}</p>
		    </div>
		  </md-toolbar>
		<br/>
		<md-content layout-padding class="autoScroll">
			<md-input-container flex>
				<label>Project Description</label>
	      	<input ng-model="project.description">
	    </md-input-container>

	    <div ui-tree>
	    <!-- Nested node template -->
		<script type="text/ng-template" id="nodes_renderer.html">

		  <div ui-tree-handle class="tree-node tree-node-content" layout = "row">
		    <md-button class="md-icon-button" aria-label="Use Android" ng-if="node.nodes && node.nodes.length > 0" data-nodrag ng-click="node.collapsed = !node.collapsed" >
				<md-tooltip ng-show="!node.collapsed">
		          Close
		        </md-tooltip>
		        <md-tooltip ng-show="node.collapsed" >
		          Expand
		        </md-tooltip>
          		<md-icon md-svg-src="../../../img/icons/right_arrow.svg" ng-show="node.collapsed" data-nodrag></md-icon>
          		<md-icon md-svg-src="../../../img/icons/down_arrow.svg" ng-show="!node.collapsed" data-nodrag></md-icon>
        	</md-button>
		    <md-input-container class = "treeInput" flex>
			  <label>Title</label>
			  <input ng-model="node.title">
			</md-input-container>
			<md-input-container class = "treeInput" flex ="10">
			  <label>Qty</label>
			  <input ng-model="node.estimations[userIndex]" ng-change="updateLocalTree(this)">
			</md-input-container>
			<md-button class="md-icon-button" aria-label="Use Android" data-nodrag ng-click="showDescriptionDialog($event, node)">
				<md-tooltip>
					Edit Description
				</md-tooltip>
				<md-icon md-svg-src="../../../img/icons/info.svg"></md-icon>
			</md-button>
		    <md-button class="md-icon-button" aria-label="Use Android" data-nodrag ng-click="undoToolTip(this,removeNode,newSubItem)" >
		    	<md-tooltip>
		          Remove
		        </md-tooltip>
          		<md-icon md-svg-src="../../../img/icons/close.svg"></md-icon>
        	</md-button>
		    <md-button class="md-icon-button" aria-label="Use Android" data-nodrag ng-click="newSubItem(this);apply()" >
		    	<md-tooltip>
		          Add
		        </md-tooltip>
          		<md-icon  md-svg-src="../../../img/icons/add.svg"></md-icon>
        	</md-button>
		  </div>
		  <ol ui-tree-nodes="" ng-model="node.nodes" ng-show="!node.collapsed">
		    <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'">
		    </li>
		  </ol>
		</script>
		<div>
		  <div>
		    <div ui-tree id="tree-root">
		      <ol ui-tree-nodes ng-model="project.children">
		        <li ng-repeat="node in project.children" ui-tree-node ng-include="'nodes_renderer.html'"></li>
		      </ol>
		    </div>
		  </div>
		</div>
		<!-- Nested node template -->
		<md-content label="row">
	  	<md-button class = "md-primary md-raised" ng-click = "saveProject()">
	  		Save Project
	  	</md-button>
	  	<md-button class = "md-primary md-raised" ng-click = "addRootNode()" ng-show = "rootIsEmpty()">
	  		Add root node
	  	</md-button>
	  	</md-content>
	</md-card>
</div>