.fullFlex {
	height: 100%;
	width: 100%;
}

.header_content {
	position: fixed;
	height: 100px;
	width: 100%;
	z-index: 99;
}

.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}

.coloredBackground {
	background-color: #3F51B5 !important;
}

.sideNavItem {
	background: #3F51B5 !important;
	color : white;
	text-align: left;
	margin: 0 auto;
	padding: 8px;
	width: 100%;
}

.sideNavItem:hover {
	background-color: #3F51B5 !important;
	color : white;
}

.mainToolbar {
	background: #f6f6f6;
	color: #202020;
}

.lightIcon {
	color: white !important;
}

.darkIcon {
	color: #202020 !important;
}

.imageMain {
	border-radius: 5px;
}
