<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.helloworld"
        version   = "1.0.0">

    <name>Estamite Swarm</name>

    <description>
        Hello World sample application that responds to the deviceready event.
    </description>

    <author href="http://phonegap.com" email="support@phonegap.com">
        Hanrich/Hugo/Frikkie/Andre
    </author>

    <!-- Define app icon for each platform. -->
    <icon src="icon.png" />
    <icon src="mobile/HeatMap-50"   gap:platform="android"    gap:qualifier="ldpi" />
    <icon src="mobile/HeatMap-50"   gap:platform="android"    gap:qualifier="mdpi" />
    <icon src="mobile/HeatMap-50"   gap:platform="android"    gap:qualifier="hdpi" />
    <icon src="mobile/HeatMap-50"   gap:platform="android"    gap:qualifier="xhdpi" />

    <!--
        Define access to external domains.
        <access />            - a blank access tag denies access to all external resources.
        <access origin="*" /> - a wildcard access tag allows access to all external resource.
        Otherwise, you can specify specific domains:
        <access origin="http://phonegap.com" />                    - allow any secure requests to http://phonegap.com/
        <access origin="http://phonegap.com" subdomains="true" />  - same as above, but including subdomains, such as http://build.phonegap.com/
        <access origin="http://phonegap.com" browserOnly="true" /> - only allows http://phonegap.com to be opened by the child browser.
    -->

</widget>