<div ng-controller="MainController">
	<md-card>
		<md-toolbar>
			<div class="md-toolbar-tools">
			<h2 class="md-flex">Welcome</h2>
			</div>
		</md-toolbar>
		<md-content class="md-padding">
			<!--<img ng-src="../../../img/Swarm.gif" height="540" width="960" class="md-card-image" alt="Washed Out">-->
				<img src="modules/core/img/Swarm.jpg" height="auto" width="auto" class = "imageMain">
			<md-card-content>
				<h2 class="md-title">Estimate Swarm</h2>
				<p>
				The best project estimation system to date. Delivering your project on time, every time.
				</p>
			</md-card-content>
			<div class="md-actions" layout="row" layout-align="end center">
				<md-button class="md-raised md-primary" ng-click="goTo('/projects')">Create Project</md-button>
			</div>
		</md-content>
	</md-card>
</div>