.chartBorder {
	margin:10px;
}

.bar {
	color: 'white';
	fill:'white';
}

.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
/*.x.axis path {
    display: none;
}*/
.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.bar {
  margin: 10px;
  color: rgba(0,0,0,0.54);
}