<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/node_modules/angular-material/angular-material.css">
	<link rel="stylesheet" href="/node_modules/angular-material-icons/angular-material-icons.css">

</head>
	<body ng-controller="mainCtrl" ng-app="main" layout="row">

			<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
				<md-toolbar class="md-theme-indigo">
					<h1 class="md-toolbar-tools">Sidenav Left</h1>
				</md-toolbar>
				<md-content layout-padding="">
					<md-button ng-click="close()" class="md-primary" hide-gt-md=""	ng-controller="LeftCtrl " >
						Close Sidenav Left
					</md-button>
					<p hide-md="" show-gt-md="">
						This sidenav is locked open on your device. To go back to the default behavior,
						narrow your display.
					</p>
				</md-content>
			</md-sidenav>
	<div layout="column" role="main" flex>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<md-button class="md-icon-button md-primary" ng-click="toggleLeft()" aria-label="Settings" hide-gt-md="">
					<ng-md-icon icon="more_vert" style="fill: white"></ng-md-icon>
				</md-button>
				<h2>
					<span>Welcome to the Estimate Swarm</span>
				</h2>
				<span flex=""></span>
			</div>
		</md-toolbar>
		<md-content flex="" layout-padding="">
			<div layout="column" layout-fill="" layout-align="top center">
				<md-whiteframe class="md-whiteframe-z1" layout layout-align="center center">
				<span> 
					<p>
						The Estimate Swarm will aid in estimating projects by crowd sourcing information from individuals with experience in the field.
					</p>

					<md-button ng-click="" class="md-raised md-primary">
						Create a new project
					</md-button>
				</span>
				</md-whiteframe>
				<p>
					The right sidenav will focus on a specific child element.
				</p>

				<div>
					<!-- <md-button ng-click="toggleLeft()" class="md-primary" hide-gt-md="">
						Toggle left
					</md-button> -->
				</div>
			</div>
			<div flex=""></div>
		</md-content>
	</div>

	<script src="/node_modules/angular/angular.js"></script>
	<script src="/node_modules/angular-aria/angular-aria.js"></script>
	<script src="/node_modules/angular-animate/angular-animate.js"></script>
	<script src="/node_modules/angular-material/angular-material.js"></script>
	<script src="/node_modules/angular-material-icons/angular-material-icons.js"></script>

	<script src="app.js"></script>
</body>
</html>
