<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/node_modules/angular-material/angular-material.css">
</head>
	<body>

	<div ng-controller="mainCtrl" layout="column" style="height:500px;" class="sidenavdemoBasicUsage" ng-app="main">

		<section layout="row" flex="">
			<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
				<md-toolbar class="md-theme-indigo">
					<h1 class="md-toolbar-tools">Sidenav Left</h1>
				</md-toolbar>
				<md-content layout-padding="">
					<md-button ng-click="close()" class="md-primary" hide-gt-md=""	ng-controller="LeftCtrl " >
						Close Sidenav Left
					</md-button>
					<p hide-md="" show-gt-md="">
						This sidenav is locked open on your device. To go back to the default behavior,
						narrow your display.
					</p>
				</md-content>
			</md-sidenav>

			<md-content flex="" layout-padding="">
				<md-toolbar>
					<div class="md-toolbar-tools">
						<md-button class="md-icon-button" aria-label="Settings">
							<md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
						</md-button>
						<h2>
							<span>Toolbar with Icon Buttons</span>
						</h2>
						<span flex=""></span>
						<md-button class="md-icon-button" aria-label="Favorite">
							<md-icon md-svg-icon="img/icons/favorite.svg" style="color: greenyellow;"></md-icon>
						</md-button>
						<md-button class="md-icon-button" aria-label="More">
							<md-icon md-svg-icon="img/icons/more_vert.svg"></md-icon>
						</md-button>
					</div>
				</md-toolbar>

				<div layout="column" layout-fill="" layout-align="top center">
					<p>
					The left sidenav will 'lock open' on a medium (&gt;=960px wide) device.
					</p>
					<p>
					The right sidenav will focus on a specific child element.
					</p>

					<div>
						<md-button ng-click="toggleLeft()" class="md-primary" hide-gt-md="">
							Toggle left
						</md-button>
					</div>
				</div>

				<div flex=""></div>
			</md-content>
		</section>

	</div>

	<script src="/node_modules/angular/angular.js"></script>
	<script src="/node_modules/angular-aria/angular-aria.js"></script>
	<script src="/node_modules/angular-animate/angular-animate.js"></script>
	<script src="/node_modules/angular-material/angular-material.js"></script>
	<script src="app.js"></script>

</body>
</html>
