<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/node_modules/angular-material/angular-material.css">
</head>
	<body ng-controller="mainCtrl" ng-app="main" layout="row">
			<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
				<md-toolbar class="md-theme-indigo">
					<div class="md-toolbar-tools">
						<h1><span>Estimate Swarm</span></h1>
						<span flex></span>
						<md-button class="md-icon-button md-primary" ng-click="toggleLeft()" aria-label="Settings" hide-gt-md="">
							<md-icon md-svg-icon="img/icons/chevron_left.svg" style="color: white;"></md-icon>
						</md-button>
					</div>
				</md-toolbar>
				<md-content layout-padding="">
				<md-list ng-controller="ListCtrl">
					<md-list-item ng-click="gotToMainPage()">
				    	<md-icon md-svg-icon="img/icons/home.svg"></md-icon>
				    		<p>Home</p>
					</md-list-item>
					<md-list-item ng-click="gotToProjectsPage()">
				    	<md-icon md-svg-icon="img/icons/project.svg"></md-icon>
				    		<p>Projects</p>
					</md-list-item>
					<md-list-item ng-click="gotToEstimationPage()">
				    	<md-icon md-svg-icon="img/icons/project.svg"></md-icon>
				    		<p>Estimation</p>
					</md-list-item>
					<md-list-item ng-click="gotToMainPage()">
				    	<md-icon md-svg-icon="img/icons/person.svg"></md-icon>
				    		<p>Login</p>
					</md-list-item>
					<md-list-item ng-click="navigateTo('data usage', $event)">
				    	<md-icon md-svg-icon="cached"></md-icon>
				    		<p>MenuB1</p>
					</md-list-item>
				</md-list>
					<p hide-md="" show-gt-md="">
						This sidenav is locked open on your device. To go back to the default behavior,
						narrow your display.
					</p>
				</md-content>
			</md-sidenav>
	<div layout="column" role="main" flex>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<md-button class="md-icon-button md-primary" ng-click="toggleLeft()" aria-label="Settings" hide-gt-md="">
					<md-icon md-svg-icon="img/icons/menu.svg" style="color: white;"></md-icon>
				</md-button>
				<h2>
					<span>{{getPath()}}</span>
				</h2>
				<span flex=""></span>
				<md-button class="md-fab" style="positon: absolute; left: -25pt; top: 23pt" aria-label="Go to project page" ng-click="goToProjectPage()">
					<md-icon md-svg-src="img/icons/add.svg"></md-icon>
				</md-button>
			</div>
		</md-toolbar>
			<md-content flex="" layout-padding="">
				<div layout="column" layout-fill="" layout-align="top center">
					<!-- New view items -->
					<div ng-view>
						
					</div>
					<div>
					</div>
				</div>
				<div flex=""></div>
			</md-content>
		</div>

	<script src="/node_modules/angular/angular.js"></script>
	<script src="/node_modules/angular-aria/angular-aria.js"></script>
	<script src="/node_modules/angular-animate/angular-animate.js"></script>
	<script src="/node_modules/angular-material/angular-material.js"></script>
	<script src="node_modules/angular-route/angular-route.min.js"></script>
	<script src="app.js"></script>
	<script src="./javascript/controllers/project-create-controller.js"></script>
	<script src="./javascript/controllers/main-controller.js"></script>
	<script src="./javascript/controllers/projects-controller.js"></script>
</body>
</html>
