<md-dialog data-ng-controller="ProjectEditController" data-ng-init="initUsers(this)">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2 ng-if="owner()">Add Estimators</h2>
			<h2 ng-if="!owner()">Estimators</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="cancel()">
				<md-icon md-svg-src="modules/projects/img/icons/close.svg" aria-label="Close dialog"></md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-dialog-content>
		<md-list-item class="md-2-line" ng-repeat="person in people">
			<div class="md-list-item-text">
				<h3> {{person.firstName}} {{person.lastName}} </h3>
				<p> {{person.username}} </p>
			</div>
			<md-checkbox class="md-secondary" ng-model="person.isEstimator"></md-checkbox> 
		</md-list-item>
<!-- 		<md-list-item class="md-2-line" ng-repeat="person in people" ng-show="!person.isEstimator">
			<div class="md-list-item-text">
				<h3> {{person.firstName}} {{person.lastName}} </h3>
				<p> {{person.username}} </p>
			</div>
			<md-checkbox class="md-secondary" ng-model="person.isEstimator"></md-checkbox>
		</md-list-item> -->
		<md-button class="md-primary" ng-click="updateEstimators();cancel();" ng-disabled="!owner()"> Save </md-button>
	</md-content>
</md-dialog>