<div ng-controller="ChatController" data-ng-init="findOne()">
	<md-dialog>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Discussion</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="cancel();">
					<md-icon md-svg-src="modules/projects/img/icons/close.svg" aria-label="Close dialog"></md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<md-dialog-content scrollTop="scrollHeight" style="max-width: 800px; max-height: 720px; min-height: 150px;">
			<div class="md-dialog-content">
				<md-list>
					<md-list-item ng-if="currentNode.chat.length === 0">
						<p class="md-caption">No messages to display</p>
					</md-list-item>
					<md-list-item class="md-2-line" ng-repeat="c in currentNode.chat">
						<div class="md-list-item-text">
						  <h3>{{ c.user }}</h3>
						  <p>{{ c.msg }}</p>
						</div>
					</md-list-item>
				</md-list>
				
				<md-list-item>
					<md-input-container flex>
						<label> Add to discussion </label>
						<textarea ng-model="chat" columns="1" autofocus ng-keypress="$event.which === 13 && submitChat(currentNode, chat)"></textarea> 
					</md-input-container>
					<md-button class="md-icon-button" aria-label="Use Android" data-nodrag ng-click="submitChat(currentNode, chat)" ng-disabled="chat === '' ">
						<md-tooltip>
							Send
						</md-tooltip>
						<md-icon md-svg-src="modules/projects/img/icons/send.svg"></md-icon>
					</md-button>
				</md-list-item>
			</div>
		</md-dialog-content>
	</md-dialog>
</div>