<section data-ng-controller="CreateProjectController" data-ng-init="confirm = true">
	<md-card>
		<md-card-content>
			<form name="myForm">
				<md-input-container>
					<!-- Use floating label instead of placeholder -->
					<label>Project name</label>
					<input ng-model="projectName" type="text" required>
				</md-input-container>
				
				<div>
					<span flex></span>
					<label>Project Description</label>
				</div>
				
				<md-list>
					<md-subheader class="md-no-sticky">Estimators</md-subheader>
					<md-list-item class="md-2-line" ng-repeat="person in people" layout="row">
						<div class="md-list-item-text">
							<h3>{{person.firstName}} {{person.lastName}}</h3>
							<p> {{person.name}} </p>
						</div>	
						<md-checkbox class="md-primary" ng-model="person.selected" aria-label="selected"></md-checkbox>
					</md-list-item>
				</md-list>

				<!-- <div flex="50" flex-md="100" layout="column">
					<div layout="row" layout-wrap>
						<div ng-repeat="item in people" class="standard" flex="50">
							<label>
								<input type="checkbox" ng-checked="exists(item, selected)" ng-click="toggle(item, selected)"/>
								{{ item }}
							</label>
						</div>
					</div>
				</div> -->
			</form>

			<md-button class="md-primary"  ng-click="createProject()" ng-disabled="myForm.$invalid">Create Project</md-button>
		</md-card-content>
	</md-card>
</section>