<section data-ng-controller="ProjectsController" data-ng-init="confirm = true">
<div layout="column" flex>
  <md-card>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Create Project</h2>
    </div>
  </md-toolbar>
  <br/>
  <md-content layout-padding class="autoScroll">
  <form name="myForm">
    <md-input-container d-no-float>
      <!-- Use floating label instead of placeholder -->
      <label>Project name</label>
      <input ng-model="projectName" type="text" required>
    </md-input-container>
    <md-input-container d-no-float>
      <!-- Use floating label instead of placeholder -->
      <label>Project description</label>
      <input ng-model="description" type="text" required>
    </md-input-container>

    
    <div flex="50" flex-md="100" layout="column">
      <fieldset class="standard" flex>
        <legend>Select estimators for this project</code></legend>
        <div layout="row" layout-wrap>
          <div ng-repeat="item in people" class="standard" flex="50">
            <label>
              <input type="checkbox" ng-checked="exists(item, selected)" ng-click="toggle(item, selected)"/>
              {{ item }}
            </label>
          </div>
        </div>
      </fieldset>
    </div>
  
    </form>
    <md-button class="md-raised md-primary"  ng-click="createProject()" ng-disabled="myForm.$invalid">Create Project</md-button>
  </md-content>
  </md-card>
</div>
</section>