<md-dialog aria-label="Node Description" flex="75">
	<form>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>{{currentNode.title}}</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="cancel()">
					<md-icon md-svg-src="modules/projects/img/icons/close.svg" aria-label="Close dialog"></md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<md-dialog-content>
			<div ng-hide="isOpenForEstimation()">
				<label> <b>Node Description</b> </label>
				<div text-angular ng-model="project.description" ta-disabled="isOpenForEstimation()"></div>
				<span flex></span>
			</div>
			<div ng-show="isOpenForEstimation()">
				<label> <b>Node Description</b> </label>
				<div text-angular ng-model="project.description" ta-toolbar="[[]]" ta-disabled="isOpenForEstimation()"></div>
				<span flex></span>
			</div>			
		</md-dialog-content>
		<div class="md-actions" layout="row">
			<span flex></span>
			<md-button ng-click="cancel()" class="md-primary">
				Close
			</md-button>
			<md-button ng-click="saveProject(); cancel()" ng-show="owner() && !isOpenForEstimation()" class="md-primary">
				Save
			</md-button>
		</div>
	</form>
</md-dialog>