<section data-ng-controller="ProjectsController" data-ng-init="find();confirm = true">
	<md-content class="paddingBottom">
		<md-autocomplete 
			ng-disabled="isDisabled"
			md-no-cache="noCache"
			md-selected-item="selectedItem"
			md-search-text-change="searchTextChange(searchText)"
			md-search-text="searchText"
			md-selected-item-change="selectedItemChange(item)"
			md-items="item in querySearch(searchText)"
			md-item-text="item.name"
			md-min-length="0"
			placeholder="Search"
			md-menu-class="autocomplete-custom-template"
			class="searchBar"
			md-autofocus="false">
			<md-item-template style="white-space: nowrap; overflow: hidden">
				<span class="item-title">
					<span>
						<strong>{{item.name  | uppercase}}</strong> 
					</span>
				</span>
				<span class="item-metadata">
					<span class="item-metastat">
						{{item.description}}
					</span>
				</span>
			</md-item-template>
			<md-not-found>
				No matches found for "{{searchText}}".
			</md-not-found>
		</md-autocomplete>

		<md-grid-list
			md-cols-sm="1" md-cols-md="2" md-cols-gt-md="3"
			md-row-height-sm="1:0.16" md-row-height-md="1:0.22" md-row-height-lg="1:0.22" md-row-height-gt-lg="1:0.22"
			md-gutter="16px" md-gutter-gt-sm="16px">

			<md-grid-tile flex ng-repeat="project in querySearch(searchText)" md-rowspan="{{project.rowSpan}}" md-colspan="1" md-colspan-sm="1">
				<md-card flex style="height:100%">
					<md-toolbar class="cardHeader">
						<div class="md-toolbar-tools">
							<md-button class="md-icon-button" ng-show = "owner(project)" ng-click = "goTo('/settings/profile')">
								<md-tooltip>
									Owner
								</md-tooltip>
								<md-icon md-svg-src="modules/projects/img/icons/person.svg"></md-icon>
							</md-button>
							<div style="padding: 10px; white-space: nowrap; overflow:hidden" class="md-toolbar-tools">
								<h3>{{project.name}} round: {{ project.round }}</h3>
								<md-tooltip>{{project.name}} round: {{ project.round }}</md-tooltip>

							</div>
							<md-button aria-label="View/Edit" class="md-icon-button" ng-click="goTo('/projects/{{project._id}}/edit')">
								<md-tooltip>
									View/Edit
								</md-tooltip>
								<md-icon md-svg-src="modules/projects/img/icons/edit.svg"></md-icon>
							</md-button>
							<md-button aria-label="Delete" class="md-icon-button" ng-show = "owner(project)">
								<md-tooltip>
									Delete
								</md-tooltip>
								<md-icon md-svg-src="modules/projects/img/icons/close.svg" ng-click="deleteProject(project)"></md-icon>
							</md-button>
						</div>
					</md-toolbar>

					<md-card-content flex style="overflow:ellipsis;"> 
<!-- 						<p>Owner: {{project.owner}} </p>
						<p ng-show="{{project.openForEstimation}}">Status: Open for Estimation </p>
						<p ng-hide="{{project.openForEstimation}}">Status: Closed for Estimation </p>
						<p ng-if="project.openForEstimation" ng-hide="getEstimationProgress(project)"></p>
						<p ng-show="{{project.openForEstimation}}">Estimation progress:</p>
						<md-progress-linear ng-show="{{project.openForEstimation}}" md-mode="determinate" value="{{perc}}"></md-progress-linear>
 -->

						<md-list>
							<md-list-item class="md-2-line projectListInfo">
								<div class="md-list-item-text projectListInfo" flex>
									<h3>Owner</h3>
									<p>{{project.owner}} </p>
								</div>
							</md-list-item>
							<md-list-item ng-show="project.organisation" class="md-2-line projectListInfo">
								<div class="md-list-item-text projectListInfo" flex>
									<h3>Organisation</h3>
									<p>{{project.organisation}} </p>
								</div>
							</md-list-item>
							<!-- <md-list-item class="md-2-line projectListInfo">
								<div class="md-list-item-text" flex>
									<h3> Number of estimatiors  </h3>
									<p> {{project.users.length}} </p>
								</div>
							</md-list-item> -->
							<md-list-item ng-show="{{project.openForEstimation}}" class="md-2-line projectListInfo">
								<div class="md-list-item-text projectListInfo" flex>
									<h3> Status </h3>
									<p> Open for Estimation </p>
								</div>
							</md-list-item>
							<md-list-item ng-hide="{{project.openForEstimation}}" class="md-2-line projectListInfo">
								<div class="md-list-item-text projectListInfo" flex>
									<h3> Status </h3>
									<p> Closed for Estimation </p>
								</div>
							</md-list-item>
							<md-list-item class="md-2-line projectListInfo" ng-show="{{project.openForEstimation}}">
								<div class="md-list-item-text projectListInfo" flex>
									<h3> Progress </h3>
									<p ng-if="project.openForEstimation" ng-hide="getEstimationProgress(project)"></p>
									<!-- <br /> -->
									<md-progress-linear class="cardProgressBar" md-mode="determinate" value="{{perc}}"></md-progress-linear>
								</div>
							</md-list-item>
						</md-list>
					</md-card-content>					
					<div class="md-actions" layout="row" layout-align="end center">
						<md-button aria-label="View" class="md-button" ng-click="showEstimatorDialogBox($event, project)" flex>
							Estimators
						</md-button>
						<md-button aria-label="View" class="md-button" ng-click="showDescriptionDialog($event, project)" flex>
							Description
						</md-button>
					</div>
				</md-card>
			</md-grid-tile>
		</md-grid-list>
	<md-content>
</section>
